@font-face {
  font-family: 'FontBold';
  src: local('FontBold'),
  url('../fonts/CobblerSans-Bold.woff') format('woff'),
  url('../fonts/CobblerSans-Bold.woff2') format('woff2');;
}

@font-face {
  font-family: 'FontBlack';
  src: local('FontBlack'),
  url('../fonts/CobblerSans-Black.woff') format('woff'),
  url('../fonts/CobblerSans-Black.woff2') format('woff2');;
}

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: FontBold;
  font-size: 1.3em;
  color: #eeeeee;
  text-decoration: none;
}

#center {
  font-size: 1em;
  text-align: center;
  vertical-align: center;
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 20%;
  margin-bottom: 50%;
}

#center h1 {
  padding: 5px;
}

#center p {
  font-size: 1.25em;
}

#center button {
  border: 1px solid #eeeeee;
  font-size: 1.25em;
  color: #eeeeee;
  font-weight: bolder;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
}

#center button:hover {
  cursor: pointer;
}

body {
  background-image: url('../img/background.jpg');
}
